# 🧾 Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 🧩 Dependencias y builds
node_modules
dist
dist-ssr
*.local

# ⚙️ Archivos de entorno (por defecto ignorados)
.env            # se ignoran los .env normales (locales o para capacitor)
!.env.production # pero se permite subir el .env.production para GitHub Pages

# 💻 Archivos y configuraciones de editores
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 🧱 Proyecto Android (Capacitor)
android/.gradle
android/app/build
android/build
android/captures
android/local.properties
android/.idea